.scroll-wrap{
  overflow: hidden;
  .scroll-box{
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    transition: transform 0.1s ease;
  }

  .scroll-content{
    display: inline-block;
    white-space: nowrap;
    &>div:first-child{
      margin-left: 0;
    }
    &>div{
      display: inline-block;
    }
  }
}